/* Insert custom stylesheet */
body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	background-color: #000000;
}

.header-main {
	font-weight: normal;
	font-size: 50px;
	color: #FFFFFF;
}
